* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "anta", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-container {
  width: 100%;
}
.clock {
  font-size: 5rem;
  display: flex;
}
@media (min-width: 640px) {
  .clock {
    font-size: 10rem;
  }
}

@media (min-width: 1024px) {
  .clock {
    font-size: 15rem;
  }
}

.fullscreen {
  background: none;
  color: #fff;
  border: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}
.expand-icon {
  width: 35px;
  height: 35px;
}
